/* Container for the logo */
.logo-container {
    display: flex;
    
    height: 120px;
    position: relative;
    cursor: pointer; /* Add pointer cursor on hover */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
  }

  /* Logo Letter A² */
  .letter {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .footer .letter {
    color: #FFFFFF;
  }
  