.close-menu-component-property-1-default-instance,
.close-menu-component-property-1-default-instance * {
  box-sizing: border-box;
}
.close-menu-component-property-1-default-instance {
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
}
